.basic__box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .basic__left {
    width: 72%;
    height: 800px;
    background-color: white;
  }
  .basic__right {
    width: 27%;
    height: 1040px;
  }
  // for component
}
.media {
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
  .top__title-dubl {
    margin: 10px 0;
    p {
      cursor: pointer;
      font-weight: 700;
      color: #003bb3;
      margin-top: 15px;
      width: 200px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 5px;
      &:hover {
        color: #003cc9dc;
      }
    }
  }
  .video {
    width: 49%;
    height: 790px;
    .videoMain__card {
      height: 405px;
      width: 100%;
      position: relative;
      overflow: hidden;
      .imgbox {
        width: 100%;
        height: 405px;
        transition: 0.55s all;
        overflow: hidden;
        &:hover {
          width: 110%;
          height: 110%;
          overflow: hidden;
          position: relative;
          left: -5%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        background-color: #151d31ad;
        color: white;
        border-radius: 50%;
        font-weight: 300;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        &:hover {
          cursor: pointer;
          background-color: #151d31d1;
        }
      }
      h1 {
        padding: 15px 20px;
        font-size: 20px;
        line-height: 29px;
        font-weight: 700;
        color: white;
        position: absolute;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.205) 0%,
          rgba(0, 0, 0, 0.829) 100%
        );
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
    .video__cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      .card {
        width: 315px;
        height: 290px;
        position: relative;
        box-shadow: 2px 1px 4px gainsboro;
        img {
          width: 100%;
          height: 195px;
          object-fit: cover;
        }
        .vaqt {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
          p {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
          }
          h5 {
            font-size: 12px;
            font-weight: 400;
            color: #304fff;
          }
        }
        h1 {
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          margin-top: 10px;
        }
        .play-icon {
          position: absolute;
          border: 2px solid white;
          border-radius: 50%;
          padding-left: 5px;
          top: 20%;
          left: 50%;
          width: 50px;
          height: 50px;
          background-color: #1b1762ca;
          color: white;
        }
      }
    }
  }
  .foto {
    width: 49%;
    height: 790px;
    .videoMain__card {
      height: 405px;
      width: 100%;
      position: relative;
      overflow: hidden;
      .imgbox {
        width: 100%;
        height: 405px;
        transition: 0.55s all;
        overflow: hidden;
        &:hover {
          width: 110%;
          height: 110%;
          overflow: hidden;
          position: relative;
          left: -5%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        background-color: #151d31ad;
        color: white;
        border-radius: 50%;
        font-weight: 300;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        &:hover {
          cursor: pointer;
          background-color: #151d31d1;
        }
      }
      h1 {
        padding: 15px 20px;
        font-size: 20px;
        line-height: 29px;
        font-weight: 700;
        color: white;
        position: absolute;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.205) 0%,
          rgba(0, 0, 0, 0.829) 100%
        );
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
    .video__cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      .card {
        width: 315px;
        height: 290px;
        position: relative;
        box-shadow: 2px 1px 4px gainsboro;
        img {
          width: 100%;
          height: 195px;
          object-fit: cover;
        }
        .vaqt {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
          p {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
          }
          h5 {
            font-size: 12px;
            font-weight: 400;
            color: #304fff;
          }
        }
        h1 {
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          margin-top: 10px;
        }
        .play-icon {
          position: absolute;
          border: 2px solid white;
          border-radius: 50%;
          padding: 7px;
          top: 20%;
          left: 50%;
          width: 50px;
          height: 50px;
          background-color: #1b1762ca;
          color: white;
        }
      }
    }
  }
}
