.advertTop {
  width: 100%;
  height: 210px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 35px;
    color: rebeccapurple;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 210px;
  }
}
